#start{
    text-align:center;
    font-size:32px;
    font-family:bold;
}
#me{
    float:left;
    width:25%;
    border-radius:50%;
    margin-bottom:20%;
    margin-right:10%;
}
#contact{
    margin-left:auto;
    margin-right:auto;
    font-size:32px;
    color:white;
}
a{
    font-weight:bold;
    color:white;
}
a:hover{
    text-decoration:underline;
    color:green;
}
li{
    margin:5%;
}
.name{
    z-index:1;
    position: absolute;
    font-size:68px;
    color:white;
    font-weight:bold;
    top:2%;
    left:53%;
    height:200px;
    animation-name: fadein;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
img{
    border-radius:10px;
    position: relative;
    height:100%;
    width:100%;
}
body{
    background-color: #08298A;
    color:white;
}

#about-body{
    width:80%;
    font-size:32px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
}
button{
    margin:5px;
    margin-top:10px;
    width:24%;
    height:50px;
    background-color:rgba(0,190,200,0.6);
    color:rgba(255,255,255,0.9);
    font-weight:bold;
    font-size:40px;
    border-radius:30px;
    -webkit-text-stroke: 2px #000;
}
.skill-main{
    padding:3%;
    font-size:32px;
}
th{
    height:5px;
    width:240px;
}
tr{
    padding:3%;
}
#sub{
    width:430px;
}

