.header{
    position: relative;

}
.header p{
  position: absolute;
  font-size:64px;
  color:white;
  font-weight:bold;
  top:10%;
  left:53%;
  height:240px;
}
.header ins{
  position:absolute;
  color: white;
  top:96%;
  right:38%;
  font-size:19px;
  background-size:auto 100%;
}
.header img{
  height:100%;
  width:100%;
}
body{
    background-color: #003366;
    color:white;
}
.main-top{
  height:160px;
  float: left;
  font-size: 20px;
  width: 20%;
  background-color:rgba(130,140,60,0.7);
}
.main-top2{
float:right;
width:80%;

}
.about{
  width: 50%;
  height:40%;
  float:left;
  font-size: 40px;
  color: inherit;
  padding-top:24px;
  font-weight:bold;
  
}
#about-body{
width:70%;
font-size:24px;
float:right;
margin:15px;
}
#btns{
width:24.5%;
height:50px;
background-color:rgba(0,190,200,0.6);
color:rgba(255,255,255,0.9);
font-weight:bold;
font-size:40px;
border-radius:7px;
-webkit-text-stroke: 2px #000;
}
.info{
    height:500px;
    width:100%;
    padding:10px;
    margin-top:30px;
}
.skill{
    text-align:center;
    padding:30px;
    font-weight:bold;
    font-size:40px;
}
.skill-main{
    padding:20px;
    font-size:30px;
}
th{
    height:3px;
    width:240px;
}
#sub{
    width:430px;
}
.skill-main p{
    float:right;
    font-size:20px;
}
    
